<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.Js + Postegres </title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Cadastrar</a></li>
            <li><a href="/books">Lista de livros</a></li>
        </ul>
    </nav>

    {{{body}}}

    <div>
        <a href="/books/1">1</a>
        <a href="/books/2">2</a>
    </div>
    
</body>
</html>