{{#if auth}}
    <nav>
        <ul>
            <a href="/perfil">Perfil</a>
        </ul>
    </nav>
{{/if}}


<h1>Página inicial</h1>

<p>Seja bem-vindo(a) ao nosso portal de jogos! Aqui, você encontra diversão sem fim, desafios empolgantes e uma comunidade vibrante de jogadores como você. Prepare-se para explorar uma vasta seleção de jogos que vão desde os clássicos nostálgicos até as últimas novidades do mundo dos games. Quer você seja um gamer casual ou um verdadeiro competidor, temos o jogo perfeito para animar seu dia. Conecte-se, jogue, compartilhe suas vitórias e mostre suas habilidades. A diversão começa agora – entre e faça parte dessa aventura!</p>

{{#if auth}}
    <p>Usuário está logado</p>
{{/if}}